/GusTheGreat1367/Properties/obj/
/home/runner/work/GusTheGreat1367.github.io/GusTheGreat1367.github.io/GusTheGreat1367/obj/
/home/runner/work/GusTheGreat1367.github.io/GusTheGreat1367.github.io/GusTheGreat1367/obj/Release/
/home/runner/work/GusTheGreat1367.github.io/GusTheGreat1367.github.io/GusTheGreat1367/obj/Release/net10.0/
