@page "/About"

<PageTitle>About Me</PageTitle>

<h1>About Me</h1>
<br>
<p>
I'm Gus Pearson, an aspiring software developer and member of the OGPC team MeepGames. I believe in problem solving and relying on your own knowledge, not the logic of a LLM. I believe that AI is a tool, and not a replacement for working people. I sometimes vibe code, but I try to avoid it because I think it's better to problem solve on my own.
</p>