@page "/projects"

<PageTitle>Projects</PageTitle>

<h1>These are the projects I am working on</h1>
<br>

<div class="Smokejumpers 2D">
    <h2>Smokejumpers 2D</h2>
    <p>A 2D adaptation of the game <a href="https://github.com/only-meeps/Smokejumpers-OGPC-repo" target="_blank" rel="noopener noreferrer">Smokejumpers</a> by my OGPC team MeepGames, where you pilot a helicopter and try to rescue people from fires and deloy firefighters.
</p>
<br>
</div>
<div class="ogpc 2025">
    <h2>Space RTS</h2>
    <p>MeepGames's next itteration for OGPC, an empire-building RTS game set in space. More info on our <a href="https://meepgames.github.io" target="_blank">site</a>.</p>
</div>