@page "/"

<PageTitle>Gus Pearson</PageTitle>

<h1>Welcome to my subdomain!</h1>
<br>
 
<p>

I am Gus Pearson, a developer in my group MeepGames, you can visit us at <a href="https://meepgames.github.io" target="_blank">meepgames.github.io</a>. I program in C#, C++, Ruby, Python, HTML, CSS, JS, React.js, and am learning Rust, .NET, and ASP.NET. You can also find me at <a href="https://github.com/gusthegreat1367" target="_blank">my github</a>. I am in the Google and Github developer programs, you can find me at <a href="https://g.dev/guspearson78" target="_blank">my Google Dev page</a>. Feel free to explore my website and check out my projects!
</p>
