# This workflow will build a .NET project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-net

name: .NET

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 10.0.x
    - name: Clear Cache
      run: dotnet clean 
    - name: Restore dependencies
      run: dotnet restore ./GusTheGreat1367
    - name: Build
      run: dotnet build ./GusTheGreat1367--no-restore
    - name: Test
      run: dotnet test ./GusTheGreat1367 --no-build --verbosity normal
    - name: Build with MSBuild
      run: msbuild ./GusTheGreat1367

